@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap");

.navbar {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  height: 80px;
  background-color: #1f2023e6;
  color: white;
  border-color: white;
}
.containerlogo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logonavbar {
  text-decoration: none;
  color: white;
}
.itemsnavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 1em;
}

.textnavbar {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0em 2em;
}
.navbar2 {
  display: none;
}

/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/

/*Navbar 2 */
@media only screen and (max-width: 920px) {
  .navbar {
    display: none;
  }
  .navbar2 {
    background-color: #1f2023e6;
    display: flex;
    height: 5vh;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
  }
  .containerbtns {
    display: flex;
    justify-content: space-between;
  }

  .hamburguerimg {
    width: 40px;
    margin-left: 1em;
  }
}
